<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Login</title>
</head>
<body>
    <h1>Ingresá</h1>
    <form action="" method="POST">
        <label for="email">Ingresá tu email</label>
        <input type="email" id="email" name="email">
        <p><%= locals.errors && errors.email ? error.email.msg : null %> </p>

        <label for="password" id="password" name="password"></label>
        <p><%= locals.errors && errors.password ? error.password.msg : null %> </p>

        <button type="submit">Enviar</button>
        <p>Ven y registrate <a href="/users/register">Registrate</a></p>
    </form>
</body>
</html> 